html, body {
  height: 100%; }

body {
  font-family: "Nunito", sans-serif;
  color: #000;
  background-color: #fff; }
  body.home {
    min-height: 100vh; }

a, button {
  color: #fff;
  outline: none;
  transition: all .5s ease-out; }

a {
  text-decoration: none; }

.wpcf7 .wpcf7-form-control {
  box-shadow: none; }

.title {
  font-family: "Vag Rounded", sans-serif;
  color: #0043BD; }

.wpcf7 {
  position: relative;
  display: block; }
  .wpcf7 .wpcf7-form-control:not(.wpcf7-checkbox) {
    background-color: #fff;
    height: 54px;
    display: block;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    font-size: 16px;
    color: #7c7c7c;
    border-radius: 45px;
    padding: 10px 20px; }
  .wpcf7 textarea.wpcf7-form-control {
    height: 200px;
    resize: none;
    border-radius: 10px; }
  .wpcf7 .mayor_18 .wpcf7-form-control {
    background: transparent;
    box-shadow: none;
    color: #fff; }
  .wpcf7 .wpcf7-spinner {
    display: block; }
  .wpcf7 .input-box {
    margin-bottom: 20px; }
  .wpcf7 .wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em; }
  .wpcf7 .hidden-field {
    display: none !important; }

.btn {
  border: none;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 30px !important;
  font-size: 18px;
  font-family: "Vag Rounded", sans-serif; }

.btn-primary {
  background-color: #235CCF;
  color: #fff; }

.btn-secondary {
  background-color: transparent;
  color: #fff;
  border: 1px solid #febf10; }
  .btn-secondary:hover {
    background-color: transparent;
    color: #febf10;
    border: 1px solid #febf10; }

.btn-back-button {
  background-color: #CCCCCC;
  color: #fff; }
  .btn-back-button:hover {
    background-color: #999;
    color: #000; }

.btn-warning {
  display: inline-block !important;
  height: auto !important;
  width: auto !important;
  padding: 8px 20px !important;
  font-size: 18px !important;
  background-color: #febf10 !important;
  color: #002e8d !important;
  font-family: "Vag Rounded", sans-serif; }
  .btn-warning:hover {
    color: #fff !important; }

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.owl-nav button.owl-next, .owl-nav button.owl-prev {
  background-color: #fff !important;
  border-radius: 100%;
  width: 50px;
  height: 50px; }
  .owl-nav button.owl-next i, .owl-nav button.owl-prev i {
    font-size: 2rem;
    color: #002e8d; }
  .owl-nav button.owl-next:hover, .owl-nav button.owl-prev:hover {
    opacity: .6; }
    .owl-nav button.owl-next:hover i, .owl-nav button.owl-prev:hover i {
      color: #000; }
  .owl-nav button.owl-next.owl-prev, .owl-nav button.owl-prev.owl-prev {
    position: absolute;
    left: 10px;
    top: 40%;
    display: block !important;
    border: none; }
  .owl-nav button.owl-next.owl-next, .owl-nav button.owl-prev.owl-next {
    position: absolute;
    right: 10px;
    top: 40%;
    display: block !important;
    border: none; }

header.menu-header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: background-color .7s ease-out; }
  header.menu-header .header__logo-img {
    width: 90px;
    transition: all 0.5s; }
  header.menu-header #menuToggle {
    display: block;
    position: absolute;
    top: 50%;
    right: 50px;
    font-family: "Vag Rounded", sans-serif;
    font-size: 34px;
    z-index: 1;
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    header.menu-header #menuToggle a {
      color: #007bff; }
      header.menu-header #menuToggle a:hover {
        color: #0056b3; }
    header.menu-header #menuToggle span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #0643B2;
      border-radius: 3px;
      pointer-events: none;
      z-index: 15;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    header.menu-header #menuToggle span:nth-child(4) {
      width: 26px; }
    header.menu-header #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%; }
    header.menu-header #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #0643B2; }
      header.menu-header #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      header.menu-header #menuToggle input:checked ~ span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px); }
      header.menu-header #menuToggle input:checked ~ span:nth-child(4) {
        width: 33px; }
    header.menu-header #menuToggle input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      color: #fff;
      cursor: pointer;
      opacity: 0;
      z-index: 15;
      -webkit-touch-callout: none; }
    header.menu-header #menuToggle input:checked ~ #menu {
      transform: none;
      opacity: 1;
      pointer-events: auto; }
    header.menu-header #menuToggle .menu__box {
      margin-top: 80px; }
    header.menu-header #menuToggle .main-menu li {
      margin: 0;
      list-style: none; }
      header.menu-header #menuToggle .main-menu li a {
        text-decoration: none;
        color: #808080;
        transition: color 0.3s ease;
        padding: 10px 0;
        font-size: 1.4rem;
        display: block; }
        header.menu-header #menuToggle .main-menu li a:hover {
          background-color: #235CCF;
          color: #FDFDFD;
          text-decoration: none; }
  header.menu-header .header__rrss a {
    margin-left: 1rem;
    margin-right: 1rem; }
  header.menu-header #menu {
    position: fixed;
    right: 0;
    text-align: center;
    max-width: 610px;
    background: #FFFFFF;
    padding: 0;
    pointer-events: none;
    margin: 0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 10;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    right: -51px;
    top: -140%; }
  @media (max-width: 575.98px) {
    header.menu-header .nav__button .btn-rounded {
      font-size: 16px; }
    header.menu-header #menuToggle {
      right: 20px; }
    header.menu-header #menu {
      transform: none;
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      right: -20px; }
    header.menu-header header .main-menu li a {
      font-size: 22px; }
    header.menu-header header .main-menu li a {
      font-size: 22px; } }

.sliders {
  z-index: 1;
  position: relative;
  margin-top: 0;
  overflow: hidden; }
  @media (min-width: 1400px) {
    .sliders {
      /*margin-top: 0;*/ } }
  @media (max-width: 575.98px) {
    .sliders .owl-theme {
      padding-top: 8rem; } }
  .sliders .img-carousel {
    position: relative; }
    @media (max-width: 575.98px) {
      .sliders .img-carousel {
        padding-top: 9rem; } }
  .sliders .content {
    top: 33%;
    left: 10%;
    width: 32%;
    position: absolute; }
    @media (max-width: 575.98px) {
      .sliders .content {
        top: 2%;
        left: 15%;
        width: 70%;
        text-align: center; } }
    .sliders .content h1, .sliders .content h2, .sliders .content h3, .sliders .content h4, .sliders .content h5 {
      margin: 0;
      margin-bottom: 1rem;
      margin-top: 0.5rem;
      font-family: "Vag Rounded", sans-serif;
      color: #0043BD;
      font-weight: 700; }
    .sliders .content h1 {
      font-size: 3.5rem;
      line-height: 3.5rem; }
    .sliders .content h2 {
      font-size: 3rem;
      line-height: 3rem; }
    .sliders .content h3 {
      font-size: 2.5rem;
      line-height: 2.5rem; }
    .sliders .content h4 {
      font-size: 2rem;
      line-height: 2rem; }
    .sliders .content a.btn-link {
      color: #0043BD;
      text-decoration: none;
      font-weight: 500; }
      .sliders .content a.btn-link:hover {
        color: #ff1937; }
    .sliders .content .menu_rrss a {
      color: #0043BD;
      font-size: 2rem;
      margin: 0 1rem; }
  @media (max-width: 575.98px) {
    .sliders .owl-home {
      padding-top: 4rem; }
      .sliders .owl-home .content {
        top: 10%; }
      .sliders .owl-home .img-carousel {
        padding-top: 0rem; } }
  .sliders .img-1780 img.size-full {
    width: 48%; }
    @media (max-width: 575.98px) {
      .sliders .img-1780 img.size-full {
        margin-left: auto;
        margin-right: auto; } }
  .sliders .img-1784 img.cert {
    width: 8vw; }
    @media (max-width: 575.98px) {
      .sliders .img-1784 img.cert {
        display: none; } }
  .sliders .img-1784 small {
    font-size: 1.5rem; }
  .sliders .img-36 .content {
    top: 15%; }
  .sliders .owl-nav button.owl-next, .sliders .owl-nav button.owl-prev {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); }
    .sliders .owl-nav button.owl-next i, .sliders .owl-nav button.owl-prev i {
      font-size: 2rem;
      color: #002e8d; }
    .sliders .owl-nav button.owl-next:hover, .sliders .owl-nav button.owl-prev:hover {
      opacity: .6; }
      .sliders .owl-nav button.owl-next:hover i, .sliders .owl-nav button.owl-prev:hover i {
        color: #000; }

@media (max-width: 575.98px) {
  body.single-post .owl-theme {
    padding-top: 6rem !important; }
    body.single-post .owl-theme .img-carousel {
      padding-top: 0rem !important; } }
.btn-block {
  display: block;
  width: 100%; }

.square {
  font-family: "Vag Rounded", sans-serif;
  font-weight: normal;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50; }
  .square .square__shape {
    padding: 30px 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff; }
    .square .square__shape h2 {
      font-size: 2.3vw; }
      @media (max-width: 575.98px) {
        .square .square__shape h2 {
          font-size: 6vw; } }
    .square .square__shape h2 small {
      font-size: 1.9vw; }
    .square .square__shape .btn {
      font-size: 1vw; }
    .square .square__shape .btn-light {
      background-color: #fff;
      color: #002E8D; }
      .square .square__shape .btn-light:hover {
        background-color: #FEBF10;
        color: #002E8D; }
  .square .square__shape-textposition {
    padding: 0;
    margin: auto;
    font-size: 1.5vw;
    text-align: left;
    opacity: 0.7; }
  .square .square-color1 {
    background-color: #315CD3; }
  .square .square-color2 {
    background-color: #2B4BC2; }
  .square .square-color3 {
    background-color: #2841B7; }
  .square .square-color4 {
    background-color: #1E2B91; }
  .square .square-color5 {
    background-color: #2B4BC2; }
  .square .square-color6 {
    background-color: #315CD3; }

#productos-home .cont-gral {
  color: #fff;
  background-color: #004bd5;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media (max-width: 575.98px) {
    #productos-home .cont-gral .img-fluid {
      width: 57%; } }
#productos-home .icon {
  margin-right: 10px;
  width: 13%; }
#productos-home .mini-title {
  font-family: "Vag Rounded", sans-serif; }
#productos-home .productos.owl-prod .img {
  width: 52%; }
#productos-home .contenedor {
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 3rem; }
  @media (max-width: 575.98px) {
    #productos-home .contenedor {
      width: 100%; } }
  #productos-home .contenedor .row {
    margin-bottom: 1rem; }
    #productos-home .contenedor .row .txt {
      color: #fff;
      padding: 1rem 2rem; }
    #productos-home .contenedor .row:nth-child(1) .txt {
      background-color: #315CD3; }
    #productos-home .contenedor .row:nth-child(2) .txt {
      background-color: #2B4BC2; }
    #productos-home .contenedor .row:nth-child(3) .txt {
      background-color: #2841B7; }
    #productos-home .contenedor .row:nth-child(4) .txt {
      background-color: #1E2B91; }
    #productos-home .contenedor .row:nth-child(5) .txt {
      background-color: #2B4BC2; }
    #productos-home .contenedor .row:nth-child(6) .txt {
      background-color: #315CD3; }
    #productos-home .contenedor .row:nth-child(odd) .txt {
      border-bottom-right-radius: 2rem;
      border-right: 1rem solid #fff; }
      @media (max-width: 575.98px) {
        #productos-home .contenedor .row:nth-child(odd) .txt {
          border-radius: 0;
          border: 0; } }
    #productos-home .contenedor .row:nth-child(odd) .img-prod {
      border-top-left-radius: 2rem; }
    #productos-home .contenedor .row:nth-child(even) .txt {
      border-top-left-radius: 2rem;
      border-left: 1rem solid #fff; }
      @media (max-width: 575.98px) {
        #productos-home .contenedor .row:nth-child(even) .txt {
          border-radius: 0;
          border: 0; } }
    #productos-home .contenedor .row:nth-child(even) .img-prod {
      border-bottom-right-radius: 2rem; }
    #productos-home .contenedor .row .img-prod {
      background: url(../img/patitas.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: #dce2ff;
      padding: 1rem 2rem; }
      #productos-home .contenedor .row .img-prod h4 {
        font-family: "Vag Rounded", sans-serif;
        color: #0043BD;
        font-size: 1rem; }
        #productos-home .contenedor .row .img-prod h4 span {
          color: #dd3a41;
          font-size: 1.3rem; }
#productos-home .owl-dots {
  text-align: center; }
  #productos-home .owl-dots .owl-dot {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px; }
    #productos-home .owl-dots .owl-dot span {
      background-color: #fff;
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 2rem;
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5); }
    #productos-home .owl-dots .owl-dot.active span {
      border: 2px solid #002e8d; }

.archive {
  padding-top: 5rem; }
  .archive .owl-carousel .owl-item h4 {
    font-family: "Vag Rounded", sans-serif;
    color: #002e8d; }
  .archive .owl-carousel .owl-item img {
    width: 70%; }
  .archive .owl-nav button.owl-next, .archive .owl-nav button.owl-prev {
    border: 0.2rem solid #002e8d; }
    .archive .owl-nav button.owl-next i, .archive .owl-nav button.owl-prev i {
      font-size: 2rem; }
  .archive #productos-category {
    padding-top: 2rem;
    padding-bottom: 6rem; }
    .archive #productos-category .title {
      margin-bottom: 2rem; }
    .archive #productos-category .mini-title {
      font-family: "Vag Rounded", sans-serif; }
      .archive #productos-category .mini-title span {
        color: #fced4f; }
    .archive #productos-category .btn-secondary {
      font-size: .8rem; }
    .archive #productos-category .img {
      width: 50%;
      z-index: 2;
      position: relative; }
    .archive #productos-category .txts {
      background-color: #235CCF;
      color: #fff;
      padding: 1rem 1rem;
      border-bottom-right-radius: 2rem;
      margin-left: -3rem;
      padding-left: 3rem;
      padding-right: 2rem;
      z-index: 1;
      position: relative; }
      @media (max-width: 575.98px) {
        .archive #productos-category .txts {
          margin-left: 0;
          padding-left: 1rem;
          padding-right: 1rem; } }

.bg-grey {
  background-color: #F6F6F6; }

.single-productos #header-producto {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background: url(../img/linea-prod-header.png) no-repeat left bottom;
  background-size: 100%; }
  @media (max-width: 575.98px) {
    .single-productos #header-producto {
      padding-top: 7rem; } }
  @media (max-width: 575.98px) {
    .single-productos #header-producto > .contenido.mx-auto .col-md-5 {
      text-align: center; } }
  .single-productos #header-producto > .contenido.mx-auto .col-md-5 .img-fluid {
    z-index: 2;
    position: relative; }
    @media (max-width: 575.98px) {
      .single-productos #header-producto > .contenido.mx-auto .col-md-5 .img-fluid {
        width: 60%; } }
  .single-productos #header-producto > .contenido.mx-auto .col-md-5::after {
    content: '';
    background-color: #000;
    width: 71%;
    height: 3rem;
    display: block;
    border-radius: 8rem;
    margin-left: auto;
    margin-right: auto;
    filter: blur(1.5rem);
    opacity: .5;
    margin-top: -30px;
    z-index: 1;
    position: relative; }
    @media (max-width: 575.98px) {
      .single-productos #header-producto > .contenido.mx-auto .col-md-5::after {
        width: 40%; } }
  .single-productos #header-producto .title span {
    color: #ff1937; }
  .single-productos #header-producto .sale-points-pill {
    background-color: #fced4f;
    color: #235CCF;
    border: 1px solid #235CCF;
    font-family: "Vag Rounded", sans-serif;
    height: 46px;
    width: 128px;
    text-align: center;
    border-radius: 25px;
    margin-left: 0;
    font-size: 20px;
    padding: 5px 15px;
    line-height: 45px; }
  .single-productos #header-producto .btn-secondary {
    color: #235CCF; }
    .single-productos #header-producto .btn-secondary:hover {
      color: #fff;
      background-color: #235CCF; }
  .single-productos #header-producto .contenido {
    width: 50%; }
    @media (max-width: 575.98px) {
      .single-productos #header-producto .contenido {
        width: 100%; } }
.single-productos #atributos-funcionales {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #004bd5; }
  .single-productos #atributos-funcionales .icono-atributo {
    width: 8rem;
    margin-bottom: 2rem; }
  .single-productos #atributos-funcionales .title {
    color: #fced4f;
    margin-bottom: 2rem; }
  .single-productos #atributos-funcionales .group .item {
    border: none !important;
    color: #fff;
    text-align: center;
    padding: 1rem 1rem 2rem; }
    .single-productos #atributos-funcionales .group .item .title {
      color: #fff; }
    .single-productos #atributos-funcionales .group .item:nth-child(1) {
      background-color: #315CD3; }
    .single-productos #atributos-funcionales .group .item:nth-child(2) {
      background-color: #2B4BC2; }
    .single-productos #atributos-funcionales .group .item:nth-child(3) {
      background-color: #2841B7; }
    .single-productos #atributos-funcionales .group .item:nth-child(4) {
      background-color: #1E2B91; }
    .single-productos #atributos-funcionales .group .item:nth-child(5) {
      background-color: #2B4BC2; }
    .single-productos #atributos-funcionales .group .item:nth-child(6) {
      background-color: #315CD3; }
.single-productos #ingredientes {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .single-productos #ingredientes .title small {
    font-size: 65%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: #fced4f;
    border-radius: 1rem;
    padding: 0.2rem 1rem; }
  .single-productos #ingredientes .col-md {
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .single-productos #ingredientes .ingredients_content {
    width: 30%; }
.single-productos #nutricional {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #dce2ff; }
  .single-productos #nutricional .nutricional {
    margin-top: 2rem; }
  .single-productos #nutricional .title {
    margin: 0; }
    .single-productos #nutricional .title small {
      font-size: 65%;
      display: block; }
  .single-productos #nutricional .item span {
    color: #0043BD; }
  .single-productos #nutricional .img-fluid {
    width: 50%;
    margin-bottom: 1rem; }
.single-productos #porciones, .single-productos #relacionados {
  padding-top: 5rem;
  padding-bottom: 2rem; }
  .single-productos #porciones .title, .single-productos #relacionados .title {
    margin-bottom: 2rem; }
    .single-productos #porciones .title small, .single-productos #relacionados .title small {
      font-size: 65%;
      display: block; }
.single-productos #relacionados {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-size: 100%; }
  .single-productos #relacionados .title {
    color: #235CCF;
    margin-top: 2vh;
    margin-bottom: 1rem; }
    .single-productos #relacionados .title small {
      color: #febf10; }
  .single-productos #relacionados .relacionados {
    margin-top: 7vh; }
  .single-productos #relacionados .n-title {
    font-family: "Vag Rounded", sans-serif;
    color: #004bd5; }
    .single-productos #relacionados .n-title span {
      color: #ff1937; }
  .single-productos #relacionados .owl-relacionados .img {
    width: 80%;
    margin-bottom: 1rem; }
.single-productos .modal .modal-content {
  background: url(../img/bg-modal.png) no-repeat center top #fff; }
  .single-productos .modal .modal-content .modal-header {
    border: none !important;
    color: #fff;
    font-family: "Vag Rounded", sans-serif;
    padding-top: 4rem;
    padding-bottom: 4rem; }
    .single-productos .modal .modal-content .modal-header small {
      display: block;
      color: #febf10; }
    .single-productos .modal .modal-content .modal-header .btn-close {
      position: absolute;
      border-radius: 100%;
      top: 1rem;
      right: 1rem;
      background-color: #fff;
      color: #0043BD;
      opacity: 1; }
  .single-productos .modal .modal-content .modal-body {
    border: none !important; }
    .single-productos .modal .modal-content .modal-body .list-group .list-group-item {
      background-color: transparent !important;
      border: none !important; }
  .single-productos .modal .modal-content .modal-footer {
    border: none !important;
    background: url(../img/bg-footer-modal.png) no-repeat center bottom #fff;
    height: 5rem; }

header.secondary-nav {
  background-color: #febf10;
  position: relative;
  z-index: 2;
  clear: both;
  width: 100%;
  border-radius: 10px;
  font-family: "Vag Rounded", sans-serif; }
  header.secondary-nav .nav-link {
    font-size: 25px;
    font-weight: 34;
    color: #957514; }
  header.secondary-nav .list-group-item {
    background-color: transparent;
    border: none; }

.vam .fas {
  color: #957514;
  position: absolute;
  top: 30%;
  right: 10%; }
.vam input {
  border-radius: 8px;
  background-color: #fce6ad;
  border: 0px;
  height: 30px;
  width: 220px;
  padding: 15px; }

#blog .news {
  margin-top: 2rem; }
#blog .row a {
  color: #000; }
  #blog .row a .mini-title {
    color: #235CCF; }
  #blog .row a small {
    color: #febf10; }
#blog .row .new {
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  height: 100%;
  background-color: #fff; }
  #blog .row .new .img {
    border-bottom: 6px #febf10 solid;
    height: 163px;
    overflow: hidden; }
  #blog .row .new .inter {
    padding: 20px; }
    #blog .row .new .inter small {
      display: none; }
#blog.relacionado {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  #blog.relacionado .title {
    margin-bottom: 2rem; }

body.page-id-113 #blog .row a small {
  color: #dce2ff; }
body.page-id-113 #blog .row .new .img {
  height: 180px; }
body.page-id-426 .big-title {
  font-family: "Vag Rounded", sans-serif;
  font-size: 5rem;
  color: #febf10;
  text-shadow: #0643b2 10px 0px 0px, #0643b2 9.95004px 0.998334px 0px, #0643b2 9.80067px 1.98669px 0px, #0643b2 9.55336px 2.9552px 0px, #0643b2 9.21061px 3.89418px 0px, #0643b2 8.77583px 4.79426px 0px, #0643b2 8.25336px 5.64642px 0px, #0643b2 7.64842px 6.44218px 0px, #0643b2 6.96707px 7.17356px 0px, #0643b2 6.2161px 7.83327px 0px, #0643b2 5.40302px 8.41471px 0px, #0643b2 4.53596px 8.91207px 0px, #0643b2 3.62358px 9.32039px 0px, #0643b2 2.67499px 9.63558px 0px, #0643b2 1.69967px 9.8545px 0px, #0643b2 0.707372px 9.97495px 0px, #0643b2 -0.291995px 9.99574px 0px, #0643b2 -1.28844px 9.91665px 0px, #0643b2 -2.27202px 9.73848px 0px, #0643b2 -3.2329px 9.463px 0px, #0643b2 -4.16147px 9.09297px 0px, #0643b2 -5.04846px 8.63209px 0px, #0643b2 -5.88501px 8.08496px 0px, #0643b2 -6.66276px 7.45705px 0px, #0643b2 -7.37394px 6.75463px 0px, #0643b2 -8.01144px 5.98472px 0px, #0643b2 -8.56889px 5.15501px 0px, #0643b2 -9.04072px 4.2738px 0px, #0643b2 -9.42222px 3.34988px 0px, #0643b2 -9.70958px 2.39249px 0px, #0643b2 -9.89993px 1.4112px 0px, #0643b2 -9.99135px 0.415807px 0px, #0643b2 -9.98295px -0.583741px 0px, #0643b2 -9.8748px -1.57746px 0px, #0643b2 -9.66798px -2.55541px 0px, #0643b2 -9.36457px -3.50783px 0px, #0643b2 -8.96758px -4.4252px 0px, #0643b2 -8.481px -5.29836px 0px, #0643b2 -7.90968px -6.11858px 0px, #0643b2 -7.25932px -6.87766px 0px, #0643b2 -6.53644px -7.56803px 0px, #0643b2 -5.74824px -8.18277px 0px, #0643b2 -4.90261px -8.71576px 0px, #0643b2 -4.00799px -9.16166px 0px, #0643b2 -3.07333px -9.51602px 0px, #0643b2 -2.10796px -9.7753px 0px, #0643b2 -1.12153px -9.93691px 0px, #0643b2 -0.123887px -9.99923px 0px, #0643b2 0.87499px -9.96165px 0px, #0643b2 1.86512px -9.82453px 0px, #0643b2 2.83662px -9.58924px 0px, #0643b2 3.77978px -9.25815px 0px, #0643b2 4.68517px -8.83455px 0px, #0643b2 5.54374px -8.32267px 0px, #0643b2 6.34693px -7.72764px 0px, #0643b2 7.0867px -7.0554px 0px, #0643b2 7.75566px -6.31267px 0px, #0643b2 8.34713px -5.50686px 0px, #0643b2 8.8552px -4.64602px 0px, #0643b2 9.27478px -3.73877px 0px, #0643b2 9.6017px -2.79415px 0px, #0643b2 9.83268px -1.82163px 0px, #0643b2 9.96542px -0.830894px 0px; }
body.page-id-426 .sliders .owl-item {
  padding-top: 5rem; }
body.page-id-426 .sliders .content {
  width: 100%;
  left: 0;
  top: 0;
  margin-top: -3rem;
  text-align: center; }
body.page-id-426 #master-match {
  padding-top: 3rem;
  padding-bottom: 0rem; }
  body.page-id-426 #master-match .item-quest {
    max-width: 1040px;
    margin: 0 auto 80px;
    border: 1px #dce2ff solid;
    border-radius: 20px;
    position: relative;
    padding: 30px 20px; }
    body.page-id-426 #master-match .item-quest .title {
      margin-top: 1rem;
      margin-bottom: 2.5rem; }
    body.page-id-426 #master-match .item-quest .icon {
      font-size: 2rem;
      position: absolute;
      top: -1rem;
      color: #dce2ff;
      transition: all .5s ease-out; }
      body.page-id-426 #master-match .item-quest .icon.fas {
        color: #fff;
        text-shadow: 0.5rem 0px 0px #fff, -0.5rem 0px 0px #fff; }
    body.page-id-426 #master-match .item-quest.check .far {
      opacity: 0; }
    body.page-id-426 #master-match .item-quest.check .fas {
      color: #dd3a41; }
    body.page-id-426 #master-match .item-quest label {
      display: block; }
      body.page-id-426 #master-match .item-quest label input {
        opacity: 0;
        display: none; }
        body.page-id-426 #master-match .item-quest label input ~ .checkmark {
          display: inline-block;
          border-radius: 30px;
          cursor: pointer;
          padding: 20px;
          color: #002e8d;
          background-color: #EFEFEF;
          font-family: "Vag Rounded", sans-serif;
          font-size: 1.3rem;
          line-height: 1.3rem;
          margin-bottom: .5rem; }
        body.page-id-426 #master-match .item-quest label input:checked ~ .checkmark {
          color: #fff;
          background-color: #002e8d; }
body.page-id-426 #preguntas {
  padding-bottom: 4rem; }
body.page-id-426 #resultado .gato-principal {
  padding-bottom: 2rem; }
body.page-id-426 #resultado .otros {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #F6F6F6; }
body.page-id-426 .btn-primary {
  border: 3px solid #235CCF; }
  body.page-id-426 .btn-primary:hover {
    color: #002e8d;
    background-color: #EFEFEF; }
body.page-id-426 .titulo-round {
  background-color: #febf10;
  border-radius: 30px;
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem; }
body.page-id-426 .puntos-cont span {
  display: block;
  font-family: "Vag Rounded", sans-serif;
  color: #002e8d;
  font-size: 3rem;
  margin-right: 1rem;
  margin-top: -1rem; }
body.page-id-426 .new {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  body.page-id-426 .new .img {
    border-bottom: 6px #febf10 solid;
    margin-bottom: 1rem; }
    body.page-id-426 .new .img img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px; }
  body.page-id-426 .new .txts {
    margin-bottom: 1rem; }
  body.page-id-426 .new .cont {
    padding: 20px 30px; }
body.page-id-426 .msj-form .form {
  background: #0643B2 url(../img/bg-grid-contact-pattern.svg) repeat left top;
  padding-top: 80px;
  padding-bottom: 60px;
  color: #fff; }
  body.page-id-426 .msj-form .form .title {
    color: #fff; }
  body.page-id-426 .msj-form .form .sub-title {
    color: #febf10;
    font-family: "Vag Rounded", sans-serif;
    margin-bottom: 2rem; }

.vet-route {
  font-family: "Vag Rounded", sans-serif;
  color: #235CCF; }
  .vet-route .owl-nav button.owl-next, .vet-route .owl-nav button.owl-prev {
    background-color: #febf10 !important;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    font-size: 3rem; }
    .vet-route .owl-nav button.owl-next span, .vet-route .owl-nav button.owl-prev span {
      margin-top: -1rem;
      display: block; }
  .vet-route .owl-nav button.owl-next.owl-next, .vet-route .owl-nav button.owl-prev.owl-next {
    right: -55px; }
  .vet-route .owl-nav button.owl-next.owl-prev, .vet-route .owl-nav button.owl-prev.owl-prev {
    left: -55px; }

.owl-vet .owl-stage-outer {
  border-radius: 10px;
  overflow: hidden; }

.fancybox-slide--html .fancybox-content {
  width: 800px;
  height: 750px;
  max-width: 75%;
  max-height: 100%;
  margin: 0; }
.fancybox-slide--image .fancybox-content img {
  	/*
  	min-width  : 800px;
      min-height : 600px;
      */ }

.single .mini-title {
  color: #235CCF; }
.single .type-news {
  color: #febf10;
  font-family: "Vag Rounded", sans-serif; }
.single .head-news {
  padding: 25px;
  margin-bottom: 25px;
  border-bottom: 1px #707070 solid; }
@media (max-width: 575.98px) {
  .single img {
    max-width: 100%;
    height: auto; } }

.img_100 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

#adopcion-match {
  background-color: #F6F6F6;
  color: #0043BD;
  text-align: center; }

#contactanos {
  background: #0643B2 url(../img/bg-grid-contact-pattern.svg) repeat left top;
  padding-top: 80px;
  padding-bottom: 60px;
  color: #fff; }
  #contactanos .title {
    color: #fff; }
  #contactanos .sub-title {
    color: #febf10;
    font-family: "Vag Rounded", sans-serif;
    margin-bottom: 2rem; }

#adopcion-cuidados {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  #adopcion-cuidados .title {
    margin-bottom: 2rem; }
  #adopcion-cuidados .img {
    width: 70%;
    margin-bottom: 1rem; }

#adopcion-fundacion {
  background-color: #F6F6F6;
  margin-bottom: 4rem; }
  #adopcion-fundacion .img-title {
    width: 45%; }
  #adopcion-fundacion .btn {
    margin-top: 1rem;
    margin-bottom: 2rem; }

#adopcion-jornadas {
  background-color: #F6F6F6;
  margin-bottom: 4rem; }
  #adopcion-jornadas .btn {
    margin-top: 1rem;
    margin-bottom: 2rem; }

#master-vet-online {
  background-color: #F6F6F6; }
  #master-vet-online .img-title {
    width: 95%; }
  #master-vet-online .btn {
    margin-top: 1rem;
    margin-bottom: 2rem; }

#master-vet-contacto {
  background: #0643B2 url(../img/bg-grid-contact-pattern.svg) repeat left top;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  #master-vet-contacto .title {
    color: #fff;
    margin-bottom: 1rem; }
    #master-vet-contacto .title span {
      color: #febf10; }
    #master-vet-contacto .title p {
      margin-bottom: 0; }

#master-vet-mastermatch.sliders .owl-carousel .owl-item .content {
  top: 7%; }
#master-vet-mastermatch.sliders .owl-carousel .owl-item h4 {
  margin-bottom: 1rem; }
  #master-vet-mastermatch.sliders .owl-carousel .owl-item h4 img {
    width: 80%; }

.fancybox-content {
  padding: 0; }
  .fancybox-content p {
    margin: 0; }

#calidad .imagen-p {
  width: 60%; }
#calidad .c-azul {
  color: #235CCF; }
#calidad .cont {
  padding-top: 1rem;
  padding-bottom: 1rem; }
#calidad .lista {
  background-color: #0043BD;
  color: #fff;
  border-radius: 4px;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  #calidad .lista > li {
    padding-left: .4rem;
    margin-bottom: .3rem; }
    #calidad .lista > li::marker {
      content: url(../img/check-list.png); }
#calidad ol {
  padding-left: 0; }
  #calidad ol > li {
    position: relative;
    padding-left: .5rem; }
    #calidad ol > li::marker {
      font-family: "Vag Rounded", sans-serif;
      color: #fff;
      font-size: 1.5rem; }
    #calidad ol > li::before {
      position: absolute;
      content: "";
      display: block;
      width: 32px;
      height: 32px;
      top: 1px;
      left: -34px;
      border-radius: 5rem;
      background-color: #e4cc83;
      z-index: -1; }

#master-club {
  min-height: 90vh; }
  #master-club .wpcf7, #master-club form {
    height: 100%; }
  #master-club .owl-exp, #master-club .owl-stage-outer, #master-club .owl-stage, #master-club .owl-item {
    height: 100%; }
  #master-club .owl-item {
    display: flex;
    align-items: center;
    justify-content: center; }
  #master-club .head .step {
    background-color: #febf10;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #0043BD;
    font-family: "Vag Rounded", sans-serif; }
  #master-club .cont.w-3 {
    max-width: 300px; }
  #master-club .cont a {
    color: #0043BD; }
  #master-club .cont b {
    color: #0043BD;
    font-family: "Vag Rounded", sans-serif;
    font-size: 2rem; }
  #master-club .cont .text-center .wpcf7-form-control {
    text-align: center; }
  #master-club .cont input.wpcf7-form-control {
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #000 !important;
    border-radius: 0;
    width: 100%;
    margin: 0 auto; }
    #master-club .cont input.wpcf7-form-control:focus {
      outline: none; }
  #master-club .cont .check {
    margin-top: 2rem;
    margin-bottom: 1rem; }
    #master-club .cont .check span {
      color: #7c7c7c; }
  #master-club .cont .control-wrap {
    padding-right: 40px;
    position: relative;
    display: block; }
    #master-club .cont .control-wrap .wpcf7-form-control {
      font-size: 2rem;
      color: #0043BD;
      font-family: "Vag Rounded", sans-serif;
      font-size: 3rem; }
      #master-club .cont .control-wrap .wpcf7-form-control:focus {
        outline: none; }
      #master-club .cont .control-wrap .wpcf7-form-control::placeholder {
        color: #0043BD; }
    #master-club .cont .control-wrap input[type=number]::-webkit-outer-spin-button, #master-club .cont .control-wrap input[type=number]::-webkit-inner-spin-button, #master-club .cont .control-wrap input[type=number]::-webkit-outer-spin-button, #master-club .cont .control-wrap input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    #master-club .cont .control-wrap i {
      color: #0043BD;
      opacity: 0.6;
      font-size: 35px;
      position: absolute;
      right: 0;
      top: 10px; }
  #master-club .cont .btn {
    margin-top: 2rem; }
  #master-club .cont .btn-primary {
    background-color: #235CCF !important;
    color: #fff !important; }
  #master-club .pasos {
    width: 70%; }
    @media (max-width: 575.98px) {
      #master-club .pasos {
        width: 100%; } }
  #master-club .paso-3 {
    height: 100%;
    width: 100%; }
    #master-club .paso-3 .row {
      height: 100%; }

footer {
  position: relative;
  background: url(../img/fondo_footer.png) no-repeat left top;
  background-size: cover;
  padding-top: 100px;
  z-index: 0; }
  @media (max-width: 575.98px) {
    footer .footer__container .col-12 {
      text-align: center; } }
  footer .footer__container .footer__logo {
    margin: 0;
    max-width: 130px; }
  footer .footer__container .footer__info img {
    height: 110px;
    width: auto; }
  footer .footer__container .contact-info {
    text-align: center; }
    footer .footer__container .contact-info .pr-2 {
      padding-right: 0.5rem; }
    footer .footer__container .contact-info .phone-info {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: #333333; }
      footer .footer__container .contact-info .phone-info .fas {
        font-size: 3rem;
        color: #002E8D; }
      footer .footer__container .contact-info .phone-info h5 {
        font-family: "Nunito", sans-serif;
        font-weight: normal;
        font-size: 14px; }
        footer .footer__container .contact-info .phone-info h5 span {
          display: block; }
    footer .footer__container .contact-info hr {
      background-color: #002E8D;
      width: 220px;
      margin-top: 0.5rem; }
    footer .footer__container .contact-info .footer__rrss strong {
      font-size: 14px;
      font-weight: 100; }
    footer .footer__container .contact-info .footer__rrss .footer__rrss-text {
      text-align: left;
      color: #002E8D;
      font-family: "Nunito", sans-serif;
      font-weight: normal;
      margin-left: 6rem;
      margin-bottom: 0.4rem; }
    footer .footer__container .contact-info .footer__rrss a > i {
      font-size: 2em;
      margin-left: 1rem;
      margin-right: 1rem;
      color: #002E8D; }
  footer .footer__rights {
    background-color: #235CCF;
    position: relative;
    z-index: 10; }
    footer .footer__rights .footer__rights-text {
      font-family: "Nunito", sans-serif;
      padding: 1rem;
      text-align: center;
      color: #fff; }

/*# sourceMappingURL=custom.css.map */
